In [1]:
!pip install browserhistory

Requirement already satisfied: browserhistory in c:\users\chand\anaconda3\lib\site-packages (0.1.2)

In [2]:
import browserhistory as bh

In [3]:
dict_obj = bh.get_browserhistory()
bh.write_browserhistory_csv()

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('browser_history.csv', header=None, names=['Site','Title', 'Time'])

In [6]:
df.head()

,Site,Title,Time
0,https://kite.zerodha.com/?next=%2Fmargins,,2022-01-19 23:19:37
1,https://kite.zerodha.com/connect/portfolio/aut...,,2022-01-19 23:30:38
2,https://edis.cdslindia.com/eDIS/VerifyDIS,,2022-01-19 23:30:51
3,https://edis.cdslindia.com/EDIS/VerifyPin,,2022-01-19 23:30:57
4,https://www.google.com/webhp?authuser=2,,2022-01-19 23:31:05

In [7]:
df.tail()

,Site,Title,Time
4002,https://github.com/,,2022-04-14 16:12:48
4003,https://github.com/Chandana-799/DATA601_tuesday,,2022-04-14 16:12:54
4004,https://github.com/Chandana-799?tab=repositories,,2022-04-14 16:13:07
4005,https://www.google.com/search?q=homesnap&rlz=1...,,2022-04-14 16:35:17
4006,https://www.google.com/search?q=imdb&rlz=1C1CH...,,2022-04-14 16:39:35

In [8]:
df.isna().sum()

Site     0
Title    0
Time     0
dtype: int64

In [9]:
from urllib.parse import urlparse

print(urlparse('http://www.example.test/foo/bar').netloc) # --> www.example.test
print(urlparse('http://www.test.com.eu/ters').netloc) # --> www.example.test

www.example.test
www.test.com.eu

In [10]:
def get_domain(url):
    domain = urlparse(url).netloc
    
    if domain == '':
        return None

    return domain

In [11]:
df['domain'] = [ get_domain(s)  for s in df['Site'] ]

In [12]:
df.drop('Site', axis=1, inplace=True) # drop Site column & update the current df object
df.drop('Title', axis=1, inplace=True) # drop Site column & update the current df object

In [13]:
df.isna().sum()

Time       0
domain    24
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
df.head()

                  Time              domain
0  2022-01-19 23:19:37    kite.zerodha.com
1  2022-01-19 23:30:38    kite.zerodha.com
2  2022-01-19 23:30:51  edis.cdslindia.com
3  2022-01-19 23:30:57  edis.cdslindia.com
4  2022-01-19 23:31:05      www.google.com

In [16]:
# clean data if you need to!!!!! 
def check(x):
    # if True it will include
    return True

df_clean = df[[ check(x) for x in df.domain]]
df_clean

                     Time              domain
0     2022-01-19 23:19:37    kite.zerodha.com
1     2022-01-19 23:30:38    kite.zerodha.com
2     2022-01-19 23:30:51  edis.cdslindia.com
3     2022-01-19 23:30:57  edis.cdslindia.com
4     2022-01-19 23:31:05      www.google.com
...                   ...                 ...
4002  2022-04-14 16:12:48          github.com
4003  2022-04-14 16:12:54          github.com
4004  2022-04-14 16:13:07          github.com
4005  2022-04-14 16:35:17      www.google.com
4006  2022-04-14 16:39:35      www.google.com

[3983 rows x 2 columns]

In [17]:
# write to csv with a different name

df_clean.to_csv('history_cleaned.csv', index=False)

## DO NOT COMMIT THIS NOTEBOOK or `chrome_history.csv` !!!